
.logo{
    width: 60px;
    height:60px;
    margin: 5px;
}

.principalButton{
    float: left;
    align-self: flex-start; 
    margin: 10px -80px 0px 0px;
    background-color: rgb(0, 174, 246);
    color: white;
    font-weight: 600;
    font-size: medium;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    width: 100px;
}

    @media (max-width: 768px) {
        .principalButton{
            margin: 10px 40px 0px 0px;
        }
    } 

.principalButton:hover{
    background-color: white;
    color: rgb(0, 174, 246)
}
  
.containerMaterial{
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    color: white;
}

.title{
    display: block;
    color: rgb(0, 174, 246);
    font-size: 2.2rem;
    margin: 0px;
}  

    @media (max-width: 768px) {
        .title{
            font-size: 1.8rem;
        }
    } 

.subtitle{
    display: block;
    font-size: 1.8rem;
    margin: 0px;
}  
    
    @media (max-width: 768px) {
        .subtitle{
            font-size: 1.4rem;
        }
    } 

.notesImage{ 
    width: 40px;  
}

    @media(max-width: 768px){
        .notesImage{
            width: 30px
        }
    }

.divNotes span{
    display: block;
    width: 400px;
}

    @media(max-width: 768px){
        .divNotes span{
            width: 80%;
            margin-top: 1rem;
        }
    }

.divNotes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    @media(max-width: 768px){
        .divNotes{
            flex-direction: column;
        }
    }

div img{
    width: 60%;
    margin: 10px;
}

    @media(max-width: 768px){
        div img{
            width: 80%;
        }
    }